{{> header}}

  {{> navigation}}

    <div class="row">
      <div class="col-sm-8 col-sm-push-4">

        <!-- content  start -->
        <div id="content"> 

          {{#if message}}
          <div class="alert alert-success" role="alert">
            <span class="fa fa-check-circle" aria-hidden="true"></span>
            <span class="sr-only">Message: </span>
            {{ message }}
          </div>
          {{/if}}


          <h3>Welcome back {{ name }}</h3>


          {{#if level}}
          {{!-- Dont show nofications for administrators --}}
          {{else}}
          <div class="alert alert-info" role="alert">
            <span class="fa fa-check-circle" aria-hidden="true"></span>
            <span class="sr-only">Message: </span>
            You have {{ approved }} approved request(s) and {{ resolved }} resolved request(s) 
          </div>
          {{/if}}

          <div class="row">

              <div class="col-sm-6 col-md-4 portlet portlet-blue">
                <a href="/requests">
                  <i class="fa fa-bars"></i>
                  <h3>All Requests</h3>
                </a>
              </div>

              
              <div class="col-sm-6 col-md-4 portlet portlet-blue">
                <a href="/users">
                  <i class="fa fa-users"></i>
                  <h3>All Users</h3>
                </a>
              </div>
                  
              
              <div class="col-sm-6 col-md-4 portlet portlet-blue">
                <a href="/register">
                  <i class="fa fa-user"></i>
                  <h3>New Staff</h3>
                </a>
              </div>
              

              <div class="col-sm-6 col-md-4 portlet portlet-blue">
                <a href="/requests/new">
                  <i class="fa fa-bars"></i>
                  <h3>Add Requests</h3>
                </a>
              </div>
              

              <div class="col-sm-6 col-md-4 portlet portlet-blue">
                <a href="/users/new">
                  <i class="fa fa-user"></i>
                  <h3>New User</h3>
                </a>
              </div>
                  

              <div class="col-sm-6 col-md-4 portlet portlet-blue">
                <a href="/logout">
                  <i class="fa fa-sign-out"></i>
                  <h3>Logout</h3>
                </a>
              </div>
                                     

          </div>

          {{!-- Add things that needs attention here --}}

        </div> 
        <!-- content  end -->  

      </div>

      {{> sidebar}}
                    
    </div>
    {{!-- End Row --}}

{{> footer}}