{{> header}}

		      <div class="row">

		        <div class="">
		            
		            <h3>Add a New Repair</h3>
		            {{!-- used to prevent float --}}
		            <div class="clearfix"></div>

		            <form name="login" action="/repairs/new" class="form-horizontal" role="form" method="post">
						
						{{!-- User --}}
						<div class="form-group">
						  <label class="col-sm-2 control-label">User <span class="mandatory">*</span></label>
						  <div class="col-sm-7">
							<select name="user_name" id="user_name" class="form-control">
								{{#each users}}
								<option value="{{ this.first_name }} {{ this.last_name}}">{{ this.first_name }} {{ this.last_name}}</option>
								{{/each}}
							</select>
						  </div>
	                  	</div>

						{{!-- Request --}}
						<div class="form-group">
						  <label class="col-sm-2 control-label">Request <span class="mandatory">*</span></label>
						  <div class="col-sm-7">
						  		<textarea name="request" id="request" cols="30" rows="10" class="form-control"></textarea>
						  </div>
	                  	</div>

						<input type="hidden" name="admin_name" value="{{ adminName }}">

						<!-- Submit Button -->
						<div class="col-sm-offset-2 col-sm-10">
                       		<button type="submit" class="btn btn-primary">Submit</button>
                    	</div>
						
						<!-- /.Submit Button -->

		            </form>

		        </div>
		        
		      </div>

{{> footer}}