{{> header}}

  {{> navigation }}

    <div class="row">
      <div class="col-sm-8 col-sm-push-4">

      <!-- content  start -->
      <div id="content">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h4>All Users</h4>
          </div>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover responsive">
              <thead>
                <tr>
                  <th style="width:5%;" class="text-center"><strong>#</strong></th>
                  <th style="width:25%;"><strong>First Name</strong></th>
                  <th style="width:25%;"><strong>Last Name</strong></th>
                  <th style="width:25%;"><strong>Email</strong></th>
                  <th style="width:20%;"><strong>Phone</strong></th>
                </tr>
              </thead>
              <tbody>
                {{#each results}}
                <tr>
                  <td class="text-center">{{counter @index }}</td>
                  <td>{{ this.first_name}}</td>
                  <td>{{ this.last_name }}</td>
                  <td>{{ this.email }}</td>
                  <td>{{ this.phone }}</td>
                </tr>
                {{/each}}

                </tbody>
            </table>
          </div>
          </div>
        </div>
        <!-- content  end -->
      </div>   
    
      {{> sidebar}}
                    
    </div>
    {{!-- End Row --}}

{{> footer}}